.header {
    /* margin-left: 10%;
    margin-right: 10%; */
    width: 80%;
    margin: auto;
}

.page-btn {
     width: 10%;
    margin-left: auto; 
    display: flex;
    flex-flow: column;
    justify-content: end;
}