
.align {
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}

.c-bold {
    font-weight: bold;
}

.one-line {
    width: 70%;
    margin: 3rem;
    /* padding: 5%; */
    display: flex;
    justify-content: space-around;
}
.card-title {
    margin: 3%;
}
.clickable :hover {
    cursor: pointer;
    color: blue;
}